
/*------------- #MAIN STYLES --------------*/
/*------------------------------------------------------------------
-------------------------------------------------------------------*/


/*------------- #general --------------*/


@import url("colors.css");

@import url('http://fonts.cdnfonts.com/css/oswald-4');

@media (prefers-reduced-motion: no-preference){
    
    :root {
        scroll-behavior: smooth;
    }

    
}



body{
    
    font-family: 'Oswald Regular', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding: 0;
    margin: 0;
    direction:ltr;
    text-align: left;
    scroll-behavior: smooth;
    color: var(--clr-3);
    overflow-x: hidden;
    
    
}

*{box-sizing: border-box}




.scroll::-webkit-scrollbar {
    
  width: 5px;
  height: 5px;

  
}
.scroll::-webkit-scrollbar-track {
    
 background-color: #eee;
 border-radius: 20px;
    
}
.scroll::-webkit-scrollbar-thumb{
    
  background-color: #ccc;
  border-radius: 20px;
     
}

a{
    color:var(--clr-3);
}
a , a:hover{
    
    text-decoration: none;
    color: inherit;
}

.section-style{
    position: relative;
   
}

.p-3-3{
    
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.p-15-15{
    
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.fa, .fab, .fad, .fal, .far, .fas{
    
    vertical-align: middle;
}


.main-title1{
    
    font-size: 36px;
    margin-bottom: 3rem;
    color: var( --clr-text1);
    font-weight: bold;
    
}


.title-32-26{
    
    font-size: 32px;
    
}
.title-26-24{
    
    font-size: 26px;
   
}
.title-24-22{
    
    font-size: 24px;
    
}
.title-22-18{
    
    font-size: 22px;
}
.title-18-16,
.title-18{
    
    font-size: 18px;
}
.title-bold{
    
    font-weight: bold;
}
.title-color1{
    
    color: var( --clr-text1);
}
.title-color2{
    color: var( --clr-text2);
}


.btn-style {
    
    display: inline-block;
    border: 1px solid var(--clr-2);
    background-color: var(--clr-2);
    transition: all .3s ease;
    border-radius: 8px;
    font-size: 18px;
    color: var(--clr-text1);
    padding: .75rem 1rem;
    min-width: 140px;
    text-align: center;
    
}
.btn-style:hover,
.btn-style:focus{
    
     border-color: var(--clr-2-hover);
     background-color: var(--clr-2-hover);
     color: #000
}


.loading-overlay{
    
    position: relative;
    overflow: hidden;
    pointer-events: none;
    
   
}


.loading-overlay::before{
    
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 100;
 
}
.loading-overlay::after{
        
  content: "";
  position: absolute;
  border: 2px solid transparent;
  border-radius: 32px;
  border-top: 2px solid #71717a !important;
  border-right: 2px solid rgb(113 113 122 / 40%) !important;
  border-bottom: 2px solid #71717a !important;
  border-left: 2px solid rgb(113 113 122 / 40%) !important;
  display: block;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  right: auto;
  width: 20px;
  animation: button-loading-spinner 1s ease infinite;
  z-index: 100;
  
}


@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}



/*------------- #input style --------------*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]
{
  -moz-appearance: textfield;
}

.form-group{
    
    margin-bottom: 2rem;
    position: relative;
}

.form-group .form-label{
    
    display: inline-block;
    margin-bottom: 10px;
    color:var(--clr-text1) ;
    font-size: 22px;
    
}
.form-group .form-label.pb-more{
    
    padding-bottom: 6px;
}
.form-group .form-control,
.form-group select{
    
    box-shadow: none !important;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--clr-text2);
    border-color:var(--clr-input-border) ;
    padding: .75rem;
    transition: border-color .3s ease,box-shadow .3s ease;
    min-height: 52px;
    max-height: 52px;
    
}

.form-group textarea.form-control{
    
    max-height: none;
    min-height: 120px;
}



.form-group .form-control::placeholder{
    
    color: var(--clr-text2)
}

.form-group .form-control:focus,
.form-group select:focus{
    
    color: inherit;
    border-color: var(--clr-input-border);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(99 199 151 / 60%) !important;
}

.form-group select{
    
    padding: .75rem 2.25rem .75rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    
}


.form-group .form-check{
    
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    
}

.form-group .form-check input{
    
    border: 1px solid var(--clr-input-border);
    transition: all .3s ease;
    box-shadow: none;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    
}

.form-group .form-check input:active{
    
    filter: none;
}

.form-group .form-check .form-check-input[type=checkbox]{
    
    border-radius: .15em;
}

.form-group .form-check input:checked{
    
    background-color: var(--clr-input-border);
}


.form-group .form-check .form-check-label{
    
    font-size: 22px;
    color:var(--clr-text1) ;
    cursor: pointer;
    margin-left: .75rem;
}

.form-group.centered-check .form-check{
    
    align-items: center;
}

@media(min-width:576px){
    
    .form-group.label_multiple_line .form-check .form-check-input{
    
        margin-top:.45rem ;
    }
}

.form-group.centered-check .form-check .form-check-input{
    
    margin-top: 0;
}

.form-group.date-input{
    
    border-radius: 0;
    padding: 0;
}

.datepicker table tr td.active.active,
.datepicker table tr td span.active,
.datepicker table tr td span.focused{
    background-color: var(--clr-4) !important;
    background-image: none;
}

/*** select2 style **/

.select2-container{
    
    display: block;
    outline: none
}




.select2-container--default .select2-selection--single{
    
    padding: .75rem 2.25rem .75rem 0.75rem ;
    -moz-padding-start: calc(0.75rem - 3px) ;
}

.select2-container--default .select2-selection--multiple{
    
    padding: .75rem;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{
    
    background-color: #fff;
    box-shadow: none;
    border: 1px solid var(--clr-input-border) !important;
    height: auto;
    min-height: 52px;
    max-height: 52px;
    outline: none;
    border-radius: 5px;
    color: var(--clr-text2);
    transition: all .3s ease;
    
}
.select2-container.select2-container--open .select2-selection--single,
.select2-container.select2-container--open .select2-selection--multiple{
  
    border-color: var(--clr-input-border);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(99 199 151 / 60%) !important;
    
}

.select2-dropdown{
    
    border-color: var(--clr-input-border);
        border-radius: 0px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    
    background-color: rgb(99 199 151 / 70%);
}

.select2-container--default .select2-results__option--selected{
    
    background-color: #eee
}

.select2-results__options li.select2-results__option:first-child{
    
    border-radius: 0px 0px 0px 0px;
}
.select2-results__option{
    
    padding:.5rem .75rem;
    font-size: 1rem;
    color: var(--clr-text1);
}


.select2-container--default .select2-selection--multiple .select2-selection__choice{
    
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
    color: var(--clr-text1);
    font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    
    transition: all .3s ease
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{
    
    color:darkred;
}

.select2-container--default .select2-search--inline .select2-search__field{
    
    margin-top: 0;
    color: var(--clr-text2);
    font-size: 16px;
}


.select2-container .select2-selection--single .select2-selection__rendered{
    
    padding-left: 0px;
    padding-right: 0px;
    color: var(--clr-text2);
    font-size: 1rem;
    line-height: inherit;
    outline: none
    
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
    left: auto;
    right: .75rem;
    
}

.select2-search--dropdown{
    
        padding: 10px 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    
    outline: none;
    transition: all .3s ease;
    color: var(--clr-text2);
    font-size: 1rem;
    
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus{
    
    border-color: var(--clr-text2) ;

}



/*** select2 style **/


/*------------- #login page , #signUp page --------------*/

.sign-container{
    
    position: relative;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 3rem 1.5rem;
    overflow: hidden;
}

.sign-container .form-group{
    
    margin-bottom: 1.5rem;
}


.sign-container .container-img{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-container .container-img img{
    
    display: block;
}


.login-container .login-img img{
    
    max-height: 550px;
    
}


.sign-container.after-bg .container-img{
    
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-bottom: -3rem;
}
.sign-container.after-bg .container-img::after{
    
    position: absolute;
    content: '';
    top: -3rem;
    left: -1.5rem;
    /*width: 80%;*/
    width: 77%;
    height: calc(100% + 6rem);
    border-radius: 8px;
    z-index: -1;
    background: rgba(179, 255, 232, 0.5);
}
.sign-container.after-bg .container-img img{
    
    max-height: 600px;
    margin-right: 1.5rem;
    
}
.signUp-social-container.after-bg .container-img::after{
    
    width: 80%;
}

.sign-container .sign-box .box-footer{
    
    margin-top: 3rem;
}

.sign-container .sign-box .box-footer .box-links:not(:last-child){
    
    margin-bottom: 1rem;
}

.sign-container .sign-box .box-links .box-link{
    
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: all .3s ease;
    color: var(--clr-4);
}

.sign-container .sign-box .box-links .box-link span{
    
     display: inline-block;
}

.sign-container .sign-box .box-links .box-link:hover{
    
    color: var(--clr-4-hover);
}

.sign-container .form-btn{
    
    margin-top: 1.5rem;
}


.signUp-social-container .social-ways .social-item:not(:last-child){
    
    margin-bottom: 2rem 
}
.signUp-social-container .social-ways .social-item .item-btn{
    
    position: relative;
    display: flex;
    align-items: center;
    max-width: 470px;
    margin: auto;
    border-radius: 8px;
    transition: all .3s ease;
    padding: 1rem 1.2rem;
    color: #fff;
    font-size: 22px;
    
}

.signUp-social-container .social-ways .social-item .item-btn svg,
.signUp-social-container .social-ways .social-item .item-btn img{
    
    height: 40px;
    position: absolute;
    left: 1.2rem;
    
}

.signUp-social-container .social-ways .social-item .item-btn svg{
    
    fill:#fff
}
.signUp-social-container .social-ways .social-item .item-btn span{
    
    
    
    flex: 1;
    margin-left: 40px;
    text-align: center;
    
}

.signUp-social-container .social-ways .social-item.linkedIn-item .item-btn{
    
    background-color: #0274B3;
}

.signUp-social-container .social-ways .social-item.facebook-item .item-btn{
    
    background-color: #23599B;
}

.signUp-social-container .social-ways .social-item.google-item .item-btn{
    
     background-color: #f6f5f5;
     color: var(--clr-text1);
    
    
}

.signUp-social-container .social-ways .social-item.linkedIn-item  .item-btn:hover{
    
    background-color: #075b8a;
}
.signUp-social-container .social-ways .social-item.facebook-item .item-btn:hover{
    
    background-color: #173f70;
}
.signUp-social-container .social-ways .social-item.google-item .item-btn:hover{
    
    background-color: #ccc;
}
.signUp-social-container .social-ways .social-item.or-item > div{
    
    padding: 0;
    color: var(--clr-text1);
    justify-content: center;
}


.signUp2-container .signUp2-box .form-group .form-notes{
    
    font-size: 14px;
    color: var(--clr-1);
    text-align: justify;
    margin-bottom: 0;
    margin-top: 10px;
    
}

.signUp2-container .signUp2-box  .form-btn{
    
    margin-top: 3rem !important;
}


/*------------- #forget-login-section --------------*/





/*------------- #mentee-ambition-section --------------*/

.wave-section{
    
    
    overflow: hidden;
    /*min-height: calc( (var(--vh, 1vh) * 100));*/
    display: flex;
    align-items: center;
    
}
.wave-section .wave-vector {
    
    position: absolute;
    left: -15%;
    bottom: -15%;
    z-index: -1;
}
.mentee-ambition-container{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.mentee-ambition-container .form-btn{
    
    margin-top: 3rem;
}



/*------------- #wizerd-section --------------*/


.details-tabs-container{
    
    max-width: 1040px;
    margin: auto;
}



.details-tabs-container .wizerd-tabs{
    
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    
}

.details-tabs-container .wizerd-tabs .tab-item{
    
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: none;
    padding:1rem 1.5rem ;
    transition: all .3s ease;
    background-color: #fff;
    color: var(--clr-text1);
    font-size: 22px;
    border: 1px solid var(--clr-4);
    font-weight: 500;
    
    
}

.details-tabs-container .wizerd-tabs .tab-item > span{
    
    display: inline-block;
    
}

.details-tabs-container .wizerd-tabs .tab-item .marign-span{
    
    margin-right: 1.5rem;
}

.details-tabs-container .wizerd-tabs .tab-item .tab-num{
    
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.details-tabs-container .wizerd-tabs .tab-item .tab-done{
    
    display: none;
    
    
}

.details-tabs-container .wizerd-tabs .tab-item.active{
    
    color: #fff;
    background-color: var(--clr-4);
}



.details-tabs-container .wizerd-tabs .tab-item:not(:last-child)::after{
    
    
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    right: -12px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-4) var(--clr-4) transparent transparent;
    z-index: 10;
    opacity: 1;
    
    
    
}



.details-tabs-container .wizerd-tabs .tab-item.active:not(:last-child)::after{
    
    background-color: var(--clr-4);
    border-color: var(--clr-4);
    opacity: 1;
}

.details-tabs-container .wizerd-tabs .tab-item.active:not(:first-child)::before{
    
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    z-index: 20;
    
}


.details-tabs-container .wizerd-tabs .tab-item.done .tab-done{
    
    display: block;
    color: var(--clr-4);
    font-size: 24px;
}

.details-tabs-container .wizerd-tabs .tab-item.done.active .tab-done{
    
    color: #fff;
}
.details-tabs-container .wizerd-tabs .tab-item.done .tab-num{
    
    display: none;
}

.details-tabs-container .wizerd-tabs .tab-item.done:not(:last-child)::after{
    
    /*border: transparent;*/
} 


.details-tabs-container .tabs-content-container .photo-upload-wrap{
    
    position: relative;
    
}
.details-tabs-container .tabs-content-container .photo-upload-wrap .upload-area{
    
    min-height: 250px;
    border: 1px dashed var(--clr-text1);
    background-color:rgba(179, 255, 232, 0.09) ;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;

}

.details-tabs-container .tabs-content-container .photo-upload-wrap .upload-area .upload-text{
    
    display: block;
    margin-bottom: 1rem;
    color:var(--clr-text1) ;
    
    
}

.details-tabs-container .tabs-content-container .photo-upload-wrap .upload-area .upload-btn{
    
    background-color: transparent;
    display: inline-block;
    border: 1px solid var(--clr-text1);
    color:var(--clr-text1) ;
    border-radius: 8px;
    padding: .75rem 1rem;
    max-width: 200px;
    width: 100%;
    transition: all .3s ease;
    
}

.details-tabs-container .tabs-content-container .photo-upload-wrap .upload-area .upload-btn:hover{
    
    background-color: var(--clr-text1);
    color: #fff
}


.details-tabs-container .tabs-content-container .details-item .form-wrap .wizerd-btn-wrap .wizerd-btn{
    
    margin-top: 1rem;
    width: 100%;
    max-width: 200px;
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .wizerd-btn-wrap .wizerd-btn.disabled{
    
    opacity: .5;
    pointer-events: none;
    user-select: none;
    
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .question-wrap{
    
    display:flex;
    align-items: center;
    
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .question-wrap .form-check:first-child{
    
    margin-right: 2rem;
}





.details-tabs-container .tabs-content-container .details-item .form-wrap.custom-container{
    
    max-width: 700px;
    max-width: none;
    position: relative;
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .add-item-wrap .added-item{
    
    
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 1rem;
    
    
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .add-item-wrap .added-item:last-child{
    
    margin-bottom: 0;
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .add-item-wrap .added-item .input-text{
    
    flex: 1;
    margin-right: 1.5rem;
}
.details-tabs-container .tabs-content-container .details-item .form-wrap .add-item-wrap .added-item .add-btn{
    
    min-width: auto;
    max-width: 100px;
    width: 100%;
    font-size: 16px;
}


.details-tabs-container .tabs-content-container .details-item .form-wrap .upload-cv-wrap .fileup-btn{
    
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    border: 1px dashed var(--clr-4);
    outline: none;
    padding: .5rem ;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    max-width: ;
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .upload-cv-wrap .fileup-btn input{
    
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
}

.details-tabs-container .tabs-content-container .details-item .form-wrap .upload-cv-wrap .fileup-btn span{
    
    display: inline-block;
    margin: .25rem .5rem;
    font-size: 18px;
    color: var(--clr-text1);
    flex-grow: 1;

}
.details-tabs-container .tabs-content-container .details-item .form-wrap .upload-cv-wrap .fileup-btn .upload-text{
    
    background-color:#E5E5E5;
   
    padding: .5rem 1.5rem;
    border-radius: 4px;
}



/*------------- #dashboard-section --------------*/

.dashboard-boxes-container .row > div{
    
    margin-bottom: 3rem;
}
.dashboard-boxes-container .dashboard-box-wrap{
    
    position: relative;
    max-width: ;
    margin: 0 auto ;
    max-width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100%;
    
}

.dashboard-boxes-container .dashboard-box-wrap .box-head{
    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--clr-5);
    
}

.dashboard-boxes-container .dashboard-box-wrap .box-head .box-title{
    
    font-size: 22px;
    color: var(--clr-text1);
    display: block;
    text-align: center;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body{
    
    background: #FFFFFF;
    color: var(--clr-text1);
    padding: 2rem 1.5rem;
    height: calc(100% - 100px);
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body .box-body-title{
    
    font-size: 22px;
    text-align: center;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body .box-body-title span{
    
    display: inline-block;
}
.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .box-body-title{
    
    margin-bottom: 2rem;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .note{
    
    font-size: 16px;
    margin-bottom: 0;
    text-align: justify;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list{
    
    margin-bottom: 2rem;
    position: relative;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item{
    
    margin-bottom: .75rem;
    display: flex;
    align-items: ;
    
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item span{
    
    display: inline-block;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item:last-child{
    
    margin-bottom: 0;
}
.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item .list-icon{
    
    flex-shrink: 0;
    margin-right: 1rem;
    margin-top: .2rem;
    
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item .list-icon img,
.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item .list-icon svg{
    
    width: 20px;
    height: 20px;
    display: block;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.checkboxs-style .to-do-list .list-item .list-text{
    
    font-size: 16px;
    text-align: justify;
    margin-bottom: 0;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.centered-style .centered-wrap{
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.centered-style .centered-wrap .box-icon{
    
    margin-bottom: 2rem;
    
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.centered-style .centered-wrap .box-icon svg{
    width: 75px;
    height: 75px;
    display: block;
}

.dashboard-boxes-container .dashboard-box-wrap  .box-body.centered-style .centered-wrap .duplicated-text {
    
    text-align: center;
    font-size: 22px;
    margin-bottom: .5rem;
}
.dashboard-boxes-container .dashboard-box-wrap  .box-body.centered-style .centered-wrap .duplicated-text:last-of-type{
    
    margin-bottom: 0;
}



.dashboard-boxes-container .dashboard-box-wrap  .box-body.centered-style .centered-wrap .duplicated-btn{
    
    margin-top: 1.5rem;
}

.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style{
    
    padding: 1rem 0;
}

.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list{
    
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list .list-content{
    
    display: block;
    padding: 1rem 1.5rem ;
    border-bottom: 1px solid #E5E5E5;
    
}

.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list .list-content:last-child{
    
    border-bottom: none;
}
.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list .list-content .content-text{
    
    display: inline-block;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 5px;
    transition: all .3s ease;
    cursor: pointer;
}
.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list .list-content .content-link{
    
    display:flex;
    justify-content: flex-end;
} 

.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list .list-content .content-link svg{
    
    transition: all .3s ease;
    stroke: rgba(99, 199, 151, 0.65);
}
.dashboard-boxes-container .dashboard-box-wrap .box-body.resources-style .resources-list .list-content .content-link:hover svg{
    
    
    stroke: rgba(99, 199, 151, 1);
}


/*------------- #universities-section --------------*/



@media(min-width:992px){
    
    .sidebar-style > .container{
    
        max-width: none;
        width: 100%;
    }

}
.search-bar-area{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.search-bar-area > div{
    
    margin-bottom: 1rem;
}

.search-bar-area .search-title{
    
    margin-right: 30px;
    
}

.search-bar-area .search-title h1{
    
    margin-bottom: 0;
}

.search-bar-area .search-input{
    flex-grow: 1;
}
.search-bar-area .search-input .input-group{
    
background-color: #fff;
}
.search-bar-area .search-input .input-group input{
    
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    z-index: 1;
    background-color: transparent;
    padding: .375rem .75rem;
    padding-left: calc( 15px + .75rem);
    border-color: var(--clr-input-border);
    box-shadow: none !important
    

}

.search-bar-area .search-input .input-group input:focus{
    
    border-color: #4da078;
}



.search-bar-area .search-input .input-group .search-btn {
    
    background-color: var(--clr-input-border);
    color: #fff;
    border-radius: 0px 0px 0px 0px !important;
    box-shadow: none;
    font-size: 1rem;
    max-width: 160px;
    width: 100%;
    transition: all .3s ease ;
    padding: .375rem 1.5rem
}

.search-bar-area .search-input .input-group .search-btn:hover{
    
    opacity: .8;
}

.search-bar-area .search-input .input-group .search-icon{
    
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ccc;
    
}
.search-bar-area .search-input .input-group .search-icon svg{
    
    width: 18px;
    height: 18px;
}


.items-toolbox{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}


.items-toolbox .total-toolbox h1,
.items-toolbox .total-toolbox h2{
    
    display: inline-block;
    margin-bottom: 0;
    
}
.items-toolbox .total-toolbox h1{
    
    font-weight: bold;
    margin-right: 5px;
    
}
.items-toolbox .sidebar-toggle-toolbox{
    
    display: none;
    flex-grow: 1;
    flex-shrink: 0;
   
}

.items-toolbox .sidebar-toggle-toolbox .sidebar-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    max-width: 160px;
    width: 100%;
    padding: 0.375rem 1.55rem;
    background-color: #fff;
    border: 1px solid var(--clr-input-border);
    transition: all .3s ease;
    color: var(--clr-text2);
    border-radius: 4px;
     margin-left: auto;
}
.items-toolbox .sidebar-toggle-toolbox .sidebar-toggle span{
    
        margin-left: 10px
}

.items-toolbox .sidebar-toggle-toolbox .sidebar-toggle:hover{
    background-color: var(--clr-input-border);
    color: #fff
    
}


.universities-area .university-wrap{
    
    
    margin-bottom: 2rem;
}

.universities-area .university-box{
    
    position: relative;
    background-color: #fff;
    border-radius:  8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    max-width:650px ;
    margin: auto;
    height: 100%;
}

.universities-area .university-box .university-banner{
    
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    border-radius: 8px;
    
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.universities-area .university-box .university-banner .university-img{
    
    height: 360px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.universities-area .university-box .university-banner .university-name{
    /*
    position: absolute;
    left: 0;
    bottom: 0;
    */
    width: 100%;
    background: rgba(189, 230, 227, 0.79);
    border-radius: 0px 0px 8px 8px;
    padding: 1.5rem;
    color: var(--clr-text1);
    font-weight: bold;
    text-align: center;
    
} 

.universities-area .university-box .university-details{
    
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    padding: 1.5rem .75rem calc(1.5rem - 0.625rem);
}

.universities-area .university-box .university-details .details-row{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}



.universities-area .university-box .university-details .details-row .row-item{
    
    position: relative;
    margin-bottom: 1.5rem;
    flex: 1;
    padding: 0px .75rem
}

.universities-area .university-box .university-details .details-row .row-item .item-text{
    
    margin-bottom: 8px;
    color: var(--clr-tex2)
}
.universities-area .university-box .university-details .details-row .row-item .item-title{
    
    font-weight: bold;
}

.universities-area .university-box .university-details .details-row .row-item .info-wrap .item-info:last-child{
    
    margin-bottom: 0;
}

.universities-area .university-box .university-details .details-row.footer{
    
    align-items: center;
}

.universities-area .university-box .university-details .details-row.footer .more-link-wrap .more-link{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #37474F;
    box-sizing: border-box;
    border-radius: 8px;
    padding: .375rem 1.5rem;
    width: 100%;
    transition: all .3s ease;
    min-width: 140px;
    max-width: 240px;
}

.universities-area .university-box .university-details .details-row.footer .row-item .item-title{
    
    margin-bottom: 0;
}

.universities-area .university-box .university-details .details-row.footer .more-link-wrap .more-link:hover{
    
    background-color: var(--clr-4);
    border-color:var(--clr-4) ;
    color: #fff;
}
.universities-area .university-box .university-details .details-row.footer .more-link-wrap .more-link span{
     margin-left: 10px;
    
}
.universities-area .university-box .university-details .details-row.footer .more-link-wrap .more-link svg{
    stroke:#37474F;
   
}

.universities-area .university-box .university-details .details-row.footer .row-item{
    
    margin-bottom: 0.625rem;
}

.load-more-btn{
    
    display: block;
    margin: auto;
    max-width: 200px;
    width: 100%;
}

.items-pagination{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}



.items-pagination .page-items,
.items-pagination .pagination-arrows,
.items-pagination .page-row{
    
    display: flex;
    align-items: center;
}
.items-pagination .page-items .pagination-info{
    
    margin-right: 1.5rem;
     font-size: 18px;
}

.items-pagination .page-items .pagination-info > span{
    
    display: inline-block;
    color: var(--clr-1);
    
}

.items-pagination .pagination-arrows .page_link{
    
    font-size: 20px;
    color:var(--clr-1) ;
    transition: all .3s ease;
    margin: 0px 10px;
    display: inline-block;
    
} 

.items-pagination .pagination-arrows .page_link:hover{
    
    color: var(--clr-4)
}

.items-pagination .page-row{
    
    margin-right: 1.5rem;
    padding-right: 10px;
}
.items-pagination .page-row > span{
    
    font-size: 18px;
    color:var(--clr-1) ;
    display: block;
    
    
}

.items-pagination .page-row > select{
    
    color:var(--clr-1) ;
    background-color: transparent;
    border: none;
    padding:  0rem 0rem 0rem .5rem;
    width: auto;
    box-shadow: none;
    font-size: 18px;
    max-width:65px ;
    width: 65px;
}


/*------------- #university-veiw-section --------------*/

.university-veiw-container .university-breadcrumb{
    
    margin-bottom: 3rem;
    display: flex;
    align-items: baseline;
    
}

.university-veiw-container .university-breadcrumb .breadcrumb-icon{
    
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.university-veiw-container .university-breadcrumb .breadcrumb-icon .back-link{
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid var(--clr-4);
    color:var(--clr-4) ;
    background-color: #fff;
    font-size: 20px;
    transition: all .3s ease
}


.university-veiw-container .university-breadcrumb .breadcrumb-icon .back-link:hover{
    
    background-color: var(--clr-4);
    color:#fff ;
    
}

.university-veiw-container .university-breadcrumb .university-name{
    
    display: inline-block;
    color: var(--clr-text2);
    
}

.university-veiw-container .university-banner{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 3rem;
}

.university-veiw-container .university-banner img{
    
    display: block;
    max-height: 500px;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.university-veiw-container .university-statistics-boxes{
    
    margin-bottom: 1rem;
}

.university-veiw-container .university-statistics-boxes .box-wrap{
    
    margin-bottom: 2rem;
    position: relative;
}

.university-veiw-container .university-statistics-boxes .box-content{
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border:;
    border-radius: 4px;
    padding:2rem 1rem ;
    padding-bottom: 1.5rem;
    height: 100%;
}

.university-veiw-container .university-statistics-boxes .box-content .box-item{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:1rem; 
    position: relative;
}
.university-veiw-container .university-statistics-boxes .box-content .box-item:last-child{
    
    margin-bottom: 0;
}

.university-veiw-container .university-statistics-boxes .box-content .box-item > span{
    
    display: inline-block;
    margin-bottom: .5rem;
    color: var(--clr-text2);
    
}
.university-veiw-container .university-statistics-boxes .box-content .box-item .item-text{
    
    margin-right: 10px;
}

.university-veiw-container .university-statistics-boxes .box-content.charts-box .box-item{
    
    flex-wrap: nowrap;
    align-items: center;
}
.university-veiw-container .university-statistics-boxes .box-content.charts-box  .item-text{
    
    width: 100px;
    margin-right: 20px;
    margin-bottom: 0px;
    
}
.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item{
    
    flex: 1;
}

.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .chart-percentage{
    
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 18px;
    
    
    
}

.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line{
    
    position: relative;
    border-radius: 71.5px;
    width: 100%;
    height: 8px;
        
    
}

.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line div{
    
    height: 8px;
    border-radius: 71.5px;
}

.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.orange{
    
    background-color: #FFF5CC;
    
}
.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.orange div{
    
    background-color: #FFB200;
} 

.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.blue{
    
    background-color: #DAD7FE;
}
.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.blue div{
    
    background-color: #4339F2;
} 


.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.red{
    
    background-color: #FFE5D3;
}
.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.red div{
    
    background-color: #FF3A29;
} 

.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.blue2{
    
    background-color: #CCF8FE;
}
.university-veiw-container .university-statistics-boxes .box-content.charts-box .chart-item .cart-line.blue2 div{
    
    background-color: #02A0FC;
} 


.university-veiw-container .university-statistics-boxes .box-content.charts-box .box-item:last-child{
    
    margin-bottom: 1rem;
}


/*------------- #mentors-section --------------*/




.mentors-area .mentors-wrap .mentor-box{
    
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.mentors-area .mentors-wrap .mentor-box .mentor-info{
    
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-img{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-img img{
    display: block;
    width: 155px;
    height:155px ;
    border-radius: 100%;
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-details-wrap  .details-item{
    
    color: var(--clr-text2);
    text-align: justify;
    
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-details-wrap .menter-main-details{
    
    margin-bottom: 1.5rem;
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-details-wrap .menter-main-details .details-item{
    
    margin-bottom: 4px;
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-details-wrap .menter-main-details .details-item:last-child{
    
    margin-bottom: 0;
}

.mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-details-wrap .menter-main-details .mentor-name{
    
    margin-bottom: 10px;
    font-weight: bold;
    
}

.mentors-area .mentors-wrap .mentor-box .mentor-more{
    
    margin-bottom: 2rem;
}
.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 4px;
    /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);*/
    border: 1px solid #eee;
    margin-bottom: 1.5rem;
    
}

.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-star,
.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-sessions{
    
    display: flex;
    align-items: center;
    color: var(--clr-text2);
}

.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-star{
    
    margin-bottom: .75rem;
}
.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-star > span{
    
    display: inline-block;

}

.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-star .star-num{
    font-weight: bold;
    margin-left: 10px;
}

.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-star svg
{
    
    width: 30px;
    height: 30px;
   
}
.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-star i{
    
     font-size: 20px;
    color:#FFC107 ;
}

.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-rating .mentor-sessions span{
    
    margin-right: 5px;
}

.mentors-area .mentors-wrap .mentor-box .mentor-more .mentor-link > a{
    
    max-width: none;
    width: 100%;
    display: block;
}

/*------------- #responsive --------------*/


@media(max-width:1399.98px){
    
    .sign-container.after-bg .container-img::after{
        
       /* width: 77%; */
        width: 73%;
        
    }
    
    .signUp-social-container.after-bg .container-img::after{
    
        width: 80%;
    }
}

@media(max-width:1199.98px){
    
   
    .items-toolbox .sidebar-toggle-toolbox{
        
        display: block;
        margin-left: 1.5rem;
    }
    
    .mentors-area .mentors-wrap .mentor-box .mentor-info{
        
        align-items: flex-start;
    }
    
    .mentors-area .mentors-wrap .mentor-box:first-child{
        
        padding-top: 3rem ;
        border-top: 1px solid #eee
    }
    
    
}

@media(max-width:991.98px){
    
    .sign-container{
        
        /*padding-top: 1.5rem;*/
        box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
    }
    .login-container .login-img{
        
        margin-bottom: 1.5rem;
    }
    .login-container .login-img img{
        
        max-height: 350px;
    }
    
    
    .sign-container.after-bg .container-img{
    
   
        margin-bottom: 3rem;
        justify-content: center;
    }
    .sign-container.after-bg .container-img::after{

    
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + 3rem);
        height: calc(100% + 3rem);
       
    }
    .sign-container.after-bg .container-img img{
        
        max-height: 400px;
        margin: 0;

    }

    /**** fix img ***/
    .sign-container.after-bg .container-img img{
        
        margin-right: -16px;
    }
    /**** fix img ***/
    
    
    
    .signUp2-container .signUp2-img,
    .sign-container .container-img{
    
        display: none;
    }
    
    
    .details-tabs-container .wizerd-tabs{
        
        flex-wrap: wrap;
    }
    
    .details-tabs-container .wizerd-tabs .tab-item{
        
        width: 100%;
        flex: none;
        padding: 1.2rem 1.5rem;
        justify-content: flex-start;
    }
    
    .details-tabs-container .wizerd-tabs .tab-item:not(:last-child)::after,
    .details-tabs-container .wizerd-tabs .tab-item:not(:first-child)::before{
        
        display: none;
    }
    .details-tabs-container .wizerd-tabs .tab-item:not(:first-child){
        margin-top: -1px;
        
    }
    
    .universities-container{
        
        padding: 0;
    }
    
    .universities-area .university-box{
        
        max-width: none;
    }
    
    
    
}

@media(max-width:767.98px){
    
    
    .search-bar-area{
        
        flex-direction: column;
        align-items: flex-start;
    }
    .search-bar-area .search-input{
        
        width: 100%;
    }
    .search-bar-area .search-title{
        
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    
    
}

@media(max-width:575.98px){
    
    .main-title1{
        
        font-size: 32px !important;
    } 
    
    .form-group .form-label,
    .form-group .form-check .form-check-label{
        
        font-size: 18px !important;
    }
    
    .title-32-26{
        
        font-size: 26px !important;
    }
    .title-26-24{

        font-size: 24px !important;
    }
    .title-24-22{

        font-size: 22px !important;
    }
    .title-22-18{

        font-size: 18px !important;
    }
    .title-18-16{

        font-size: 16px !important;
    }

    
    .sign-container{
        
        /*padding: 1.5rem 1rem 3rem;*/
        padding: 3rem 1rem;
        
    }
    
    .sign-container.after-bg .container-img img{
        
        max-height: 350px;
    }
    
    
    .signUp-social-container .social-ways .social-item .item-btn svg, .signUp-social-container .social-ways .social-item .item-btn img{
        
        
        height: 30px;
    }
    
    
    .details-tabs-container .wizerd-tabs .tab-item{
        
        padding: 1rem;
    }
    
    .details-tabs-container .wizerd-tabs .tab-item .marign-span{
        
        margin-right: 1rem;
    }
    
    .details-tabs-container .wizerd-tabs .tab-item .tab-num{
        
        font-size: 30px;
    }
    .details-tabs-container .wizerd-tabs .tab-item .tab-done{
        
        line-height: 30px;
    }
    
    .details-tabs-container .wizerd-tabs .tab-item{
        
        max-height: 70px;
    }
    
    
    
    .details-tabs-container .tabs-content-container .details-item .form-wrap .add-item-wrap .added-item .add-btn{
        
        max-width: none;
        width: auto;
        padding:.75rem 1.5rem ;
    }
    
    .details-tabs-container .tabs-content-container .details-item .form-wrap .add-item-wrap .added-item .input-text{
        
        margin-right: 1rem;
    }
    
    .details-tabs-container .tabs-content-container .details-item .form-wrap .wizerd-btn-wrap .wizerd-btn{
        
        margin-top: 0;
    }
    
    .search-bar-area .search-input .input-group .search-btn{
        
        width: auto;
    }
    
    
    .items-toolbox{
        
        display: block;
    }
    
    .items-toolbox .total-toolbox{
        
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #eee;
    }
    
    .items-toolbox .total-toolbox h1{
        
        width: auto;
    }
    
    .items-toolbox .sidebar-toggle-toolbox{
        
        margin-left: 0;
        margin-bottom: 0rem;
        
    }
    .items-toolbox .sidebar-toggle-toolbox .sidebar-toggle{
        
        width: 100%;
        max-width: none;
        margin: 0;
        
    }
    
    .universities-area .university-box .university-details{
        
        padding-right:0 ;
        padding-left: 0;
    }
    .universities-area .university-box .university-details .details-row {
        
        flex-wrap: wrap;
        display: block;
        
    }
    
    .universities-area .university-box .university-details .details-row .row-item{
        
        flex: none;
        padding: 0 1rem;
       
    }
    
    .universities-area .university-box .university-banner,
    .universities-area .university-box .university-banner .university-img{
        
        height: 300px;
    }
    .universities-area .university-box .university-banner .university-name{
        
        padding: 1rem;
    }
    
    
    .items-pagination{
        
        flex-direction: column;
    }
    .items-pagination .page-row{
        
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }
    
    
    .university-veiw-container .university-breadcrumb .breadcrumb-icon{
        
        margin-right: .75rem
    }
    
    .mentors-area .mentors-wrap .mentor-box .mentor-info{
        
        flex-direction: column;
    }
    .mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-img{
        width: ;
        margin-right: 0;
        margin-bottom: 1.5rem;
        
    }
    
    .mentors-area .mentors-wrap .mentor-box .mentor-info .mentor-img img{
        
        width: 180px;
        height: 180px;
    }
    
    
     .mentors-area .mentors-wrap .mentor-box:first-child{
        
        padding-top: 0rem ;
        border-top: 0;
    }
    
}


@media(max-width:450px){
    
    
}